body {
    background-color: #ECEFF1;
    font-family: 'Times New Roman', Times, serif;
}  

#header-nav {
    background: linear-gradient(to right,
    rgb(167, 225, 235),
    rgb(197, 185, 248));
    
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border:1px white;
}

.gradient-custom-5 {
    /* fallback for old browsers */
    background: #a7e3eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,
            rgb(167, 225, 235),
            rgb(197, 185, 248));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,
            rgb(167, 225, 235),
            rgb(197, 185, 248));
}